<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Yort.Ntp.Android.Tests.Yort.Ntp.Android.Tests" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="19" />
	<application android:label="Yort.Ntp.Android.Tests"></application>
</manifest>